TUGAS 0A Heroes Classifier!

Nama: M. Ridho Rahmadinanto

Kelas: IF-39-02

NIM: 1301154226

In [2]:
import pandas as pd

In [24]:
new = pd.read_csv("E:/Machine Learning/test.csv")
new.head()

       name  movementSpeed  physicalAttack  armor    hp  mana
0     Layla            270             118     15  2500   424
1   Cyclops            250             107     18  2461   500
2  Minotaur            265             123     25  2705     0
3     Saber            265             121     17  2475   443
4     Roger            235             120     22  2580   450

membaca file test.csv dan menampilkan data nya

In [25]:
Role = []

In [26]:
for data in range(len(new)):
    if new["movementSpeed"][data] >= 270:
        Role.append("MARKSMAN")
    elif new["mana"][data] >= 500:
        Role.append("MAGE")
    elif new["armor"][data] >= 25:
        Role.append("TANK")
    elif new["physicalAttack"][data] >=121:
        Role.append("ASSASSIN")
    elif new["hp"][data] >= 2580:
        Role.append("FIGHTER")
    else:
        Role.append("SUPPORT")

Misi Anda adalah menentukan, apa peran dari masing-masing hero yang membutuhkan bantuan dari program Anda, dengan aturan sebagai berikut secara berurutan (hero mendapatkan peran yang paling awal memenuhi syarat):

    1. Heroes yang memiliki movementSpeed >= 270, akan mendapat peran sebagai MARKSMAN (huruf kapital semua)

    2. Heroes dengan mana >= 500, akan mendapat peran sebagai MAGE (huruf kapital semua)

    3. Heroes dengan armor >= 25, akan mendapat peran sebagai TANK (huruf kapital semua)

    4. Heroes dengan physicalAttack >= 121, akan mendapat peran sebagai ASSASSIN (huruf kapital semua)

    5. Heroes dengan hp >= 2580, akan mendapat peran sebagai FIGHTER (huruf kapital semua)

    6.Heroes lainnya akan mendapat peran sebagai SUPPORT (huruf kapital semua)

In [27]:
hasil = pd.DataFrame({
    "name" : new["name"], 
    "role" : Role
})

hasil.to_csv('prediction.csv', index = False)

hasil akhir di masukkan ke dalam file prediction.csv yang berisi nama hero dan role nya masing-masing